body {
  font-family: "Inter", system-ui, sans-serif;
  margin: 0;
  background-color: #f8f9fa;
}

.nowrap {
  white-space: nowrap;
}

.table td,
.table th {
  vertical-align: middle !important;
  white-space: nowrap !important;
}

.table-responsive {
  overflow-x: auto;
}

.card {
  border-radius: 12px;
}

.nav-link.active {
  background: #f3f4f6;
  border-radius: 8px;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
